@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

h1, h2 {
  font-family: 'Golos Text Variable', sans-serif;
  font-weight: 600;
}

body {
  font-family: 'Afacad Variable', sans-serif;
}

.with-stroke {
  color: #F5F5F5;
  -webkit-text-stroke: 1.5px #00000080;
}

.special:hover {
  .subtext {
    color: antiquewhite;
  }

  h2 {
    color: antiquewhite;
  }
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 0.7em;
  height: fit-content;
}

